.skeleton {
    width: 100%;
    min-height: 1rem;
    min-width: 4rem;
    position: relative;
    overflow: hidden;
    background-color: var(--color-surface-muted);
    border-radius: var(--border-radius-2xs);
}
