h1,
.h1 {
    font-weight: 600;
    font-size: var(--heading-1);
    line-height: 1.15;
    display: block;
    margin-block-end: var(--spacer-xs);
}

h2,
.h2 {
    font-weight: 600;
    font-size: var(--heading-2);
    line-height: 1.2;
    display: block;
    margin-block-end: var(--spacer-xs);
}

h3,
.h3 {
    font-weight: 600;
    font-size: var(--heading-3);
    line-height: 1.25;
    display: block;
    margin-block-end: var(--spacer-2xs);
}

h4,
.h4 {
    font-weight: 600;
    font-size: var(--heading-4);
    line-height: 1.3;
    display: block;
    margin-block-end: var(--spacer-2xs);
}

h5,
.h5 {
    font-weight: 600;
    font-size: var(--heading-5);
    line-height: 1.35;
    display: block;
    margin-block-end: var(--spacer-2xs);
}

h6,
.h6 {
    font-weight: 600;
    font-size: var(--heading-6);
    line-height: 1.4;
    display: block;
    margin-block-end: var(--spacer-2xs);
}

.p,
p {
    margin-block-end: var(--p-margin-block-start);
    line-height: var(--p-line-height);
    color: var(--p-color);
    font-size: var(--p-font-size);
}

.p,
p:last-child {
    margin-block-end: 0;
}

.a,
a {
    color: var(--a-color);
    text-decoration-style: var(--a-text-decoration-style);
    text-decoration-thickness: var(--a-text-decoration-thickness);
    text-underline-offset: var(--a-text-underline-offset);
    font-size: var(--a-font-size);
}

a:is(:hover, :focus) {
    text-decoration-style: var(--a-text-decoration-style-hover);
    color: var(--a-color-hover);
}
